body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.accordion {
  width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.accordion-content {
  padding: 15px;
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.accordion-content:last-child {
  border-bottom: none;
}
